.form-container {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: fit-content;

  padding: var(--m16px);
}

.form-container > * {
  margin-bottom: var(--m16px);
}

.flex-field {
  display: flex;
  gap: var(--m16px);
}

.passw-requirements {
  display: flex;
  justify-content: space-between;

  gap: var(--m8px);
  margin-left: var(--m16px);
  margin-bottom: var(--m16px);

  font-size: 0.8rem;
}

.sign-in {
  font-size: 0.8rem;
}

.sign-in__link {
  color: var(--primary);
}

.sign-in__link:hover {
  color: var(--secondary);
}
