.transactions-list {
  height: 100%;
  list-style-type: none;

  display: flex;
  flex-direction: column;
}

.section-title {
  margin-bottom: var(--m8px);
}
.transaction-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--m8px);
  padding: var(--m12px);
}

.transaction-container:not(:last-of-type) {
  border-bottom: 1px solid var(--gray-lines);
}

.transaction-top,
.transaction-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  font-weight: bold;
}

.date {
  color: var(--gray-text);
  font-weight: 600;
}

.amount {
  font-weight: 600;
}

.positive {
  color: var(--green);
}
.negative {
  color: var(--red);
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: var(--m24px);
}
.action-buttons > * {
  flex: 1;
}
