.graph-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-header {
  display: flex;
  justify-content: center;
  gap: var(--m8px);
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 2;
}
