.previews-grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--m32px);

  overflow-y: auto;
}

.budget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.budget-header__title {
  font-weight: 600;
  font-size: 1rem;
}

.budget-header__handlers {
  display: flex;
  align-items: center;
  gap: var(--m8px);
}

.budget-date {
  color: var(--gray-text);
  font-size: 0.8rem;
  margin-bottom: var(--m16px);
}
.preview-section a {
  display: block;
  margin-top: auto;
  margin-left: auto;
}

.preview-section button {
  margin-top: auto;
  margin-left: auto;
  width: fit-content;
  padding-inline: var(--m32px);
}
