.chart-section > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--m16px);
}

.budgets-legend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--m16px);
  column-gap: var(--m32px);
}

.budget {
  display: flex;
  gap: var(--m8px);
  align-items: center;
}

.budget-color {
  padding: 6px;
  border-radius: var(--border10);
}

.amount-used {
  text-align: center;
}

.amount-used__percentage {
  font-size: 2rem;
  font-weight: bold;
}

.amount-used__details {
  font-size: 1rem;
}
