.error-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.error-page > * {
  margin-bottom: var(--m32px);
}

.error-page h1 {
  font-size: 5rem;
}

.error-page p {
  font-size: 1.6rem;
}

.error-type {
  font-style: italic;
  color: var(--gray-text);
  font-weight: bold;
}

.redirect-links p {
  font-size: 1rem;
}

.redirect-links > *:not(p) {
  color: var(--primary);
  text-decoration: none;
  display: block;
}

.redirect-links > *:not(p):hover {
  color: var(--secondary);
  text-decoration: underline;
}
