.form-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--m16px);
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container {
  flex: 1;
}

.form-container > div:not(:last-of-type) {
  margin-bottom: var(--m24px);
}

.form-description,
.form__field-date {
  padding: var(--m8px);
  border-radius: var(--border5);
  height: 100%;
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;

  font: inherit;
  font-weight: 400;

  border: 1px solid var(--gray-lines);
  border-radius: var(--border10);
  padding: var(--m8px);
  outline: none;
  margin-top: var(--m8px);
}

.form__field-type,
.form__field-amount__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type {
  cursor: pointer;
  font-size: 1.2rem;
}

.type:hover,
.active-type {
  box-shadow: 0 0.1rem var(--secondary);
}

.field-handler {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--m8px);
}

.field-handler__value {
  color: var(--gray-text);
  font-weight: 600;
}

input[type="number"] {
  margin-top: var(--m8px);
}

.form__field-budget__values,
.form__field-state__values {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  column-gap: var(--m24px);
  row-gap: var(--m8px);
  margin-top: var(--m8px);
}

.form__handler-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--m8px);
}

.form__handler-buttons button {
  width: fit-content;
  padding-inline: var(--m16px);
}
