.header {
  grid-area: header;
  background-color: var(--main-bg);
}

.header__logged-user {
  margin-left: auto;
  width: fit-content;

  display: flex;
  align-items: center;
  gap: var(--m12px);
  padding: var(--m12px);
}

.user-image {
  background-color: gray;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
