.button {
  display: inline-block;
  width: 100%;

  text-align: center;
  font: inherit;
  font-weight: bold;
  background-color: var(--primary);
  padding-block: var(--m12px);
  color: white;

  border: none;

  transition: background-color 0.1s ease-in-out;

  border-radius: var(--border5);
}

.disabled {
  background-color: var(--gray-bg);
  color: var(--gray-text);
  outline: 1px solid var(--gray-text);
}

.button:not(.disabled):hover,
.button:not(.disabled):active {
  background-color: var(--secondary);
  outline: none;
}
