.button {
  display: inline-block;
  width: 100%;

  text-align: center;
  font: inherit;
  font-weight: bold;
  background-color: var(--main-bg);
  padding-block: var(--m12px);
  color: var(--secondary);

  border: 1px solid var(--secondary);

  border-radius: var(--border5);

  opacity: 65%;
}
