.input-field input {
  display: block;
  padding: var(--m12px);
  border: none;
  background-color: rgb(237, 237, 237);
  color: var(--primary);

  width: 100%;

  font: inherit;
}

.input-field input:focus {
  background-color: white;
  outline: 1px solid var(--primary);
}

.input-field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(237, 237, 237) inset;
}

.label {
  font-weight: 500;
  margin-bottom: var(--m8px);
}
