input {
  display: block;
  padding: var(--m12px);
  border: none;
  background-color: rgb(237, 237, 237);
  color: var(--primary);

  width: 100%;

  font-family: inherit;
}

input:focus {
  background-color: white;
  outline: 1px solid var(--primary);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(237, 237, 237) inset;
}

label {
  font-weight: 500;
  margin-bottom: var(--m8px);
}

.error-message {
  margin-top: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  font-size: 0.8rem;
  color: var(--red);
}

.input-error {
  border: 1px solid var(--red);
}

.input-error:focus {
  border: 1px solid var(--red);
  outline: 1px solid var(--red);
}

.input-valid {
  border: 1px solid var(--green);
}
.input-valid:focus {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}
