.range-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--m24px);
}
.range-container p {
  width: 35px;
}
.range-container input {
  cursor: pointer;
  flex: 1;
  accent-color: var(--secondary);
}
