.budget-areas {
  grid-template-columns: 400px 3fr;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "date container"
    "budgetChart container";
}

.budget-areas section:nth-of-type(1) {
  grid-area: date;
}
.budget-areas section:nth-of-type(2) {
  grid-area: container;
}
.budget-areas section:nth-of-type(3) {
  grid-area: budgetChart;
}

.datebar-section > div:first-of-type {
  width: 100%;
  justify-content: center;
}
