.form-wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--m16px);
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container {
  flex: 1;
}

.form-container > div:not(:last-of-type) {
  margin-bottom: var(--m24px);
}

.form__field-date {
  padding: var(--m8px);
  border-radius: var(--border5);
  height: 100%;
}

.form__field-name__values {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  column-gap: var(--m24px);
  row-gap: var(--m8px);
  margin-top: var(--m8px);
}

.range-container {
  margin-top: var(--m8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--m24px);
}

.range-container p {
  width: 35px;
}

.range-container input {
  cursor: pointer;
  flex: 1;
  accent-color: var(--secondary);
}

.form__handler-buttons {
  display: flex;
  justify-content: flex-end;
  gap: var(--m8px);
}

.form__handler-buttons button {
  width: fit-content;
  padding-inline: var(--m16px);
}

.overlay-disable {
  border: 1px solid var(--red);
  border-radius: var(--border10);
  pointer-events: none;
  padding: var(--m8px);
}
