.sidebar-filters {
  overflow: hidden;
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--m8px);
  margin-bottom: var(--m24px);
}

.filter-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.block-title {
  font-weight: 600;
  font-size: 1rem;
}

.field {
  display: flex;
  align-items: center;
  gap: var(--m8px);
  margin-left: var(--m16px);

  cursor: pointer;

  margin-right: var(--m8px);
}

.radio-btn {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  accent-color: var(--secondary);
}

.block .field:has(input:checked) {
  border-right: 2px solid var(--secondary);
}

.scroll {
  height: 100%;
  overflow-y: scroll;
}
.select {
  font: inherit;
  padding: 4px;
  border: 1px solid var(--primary);
  border-radius: var(--border5);
  background-color: white;
  cursor: pointer;
  outline: none;
  margin-right: var(--m8px);
}
.option:hover {
  cursor: pointer;
}
