@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font: 16px "Montserrat", sans-serif;

  /* COLORS */
  --main-bg: white;
  --primary: rgb(30, 41, 54);
  --secondary: #6f48eb;
  --red: #ee7172;
  --green: #95cba0;
  --gray-text: #929292;
  --gray-bg: #f6f6f6;

  /* SPACING VALUES */
  --m8px: 8px;
  --m12px: 12px;
  --m16px: 16px;
  --m24px: 24px;
  --m32px: 32px;
  --m40px: 40px;
  --m48px: 48px;
  --m56px: 56px;
  --m64px: 64px;

  /* RADIUS */
  --border5: 5px;
  --border10: 10px;
  --border20: 20px;
}

body {
  font: var(--font);
  font-size: 0.9rem;
  color: var(--primary);

  line-height: 1.5;

  overflow: hidden;
}

#root {
  height: 100vh;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside header"
    "aside content";
}

button {
  cursor: pointer;
}
